* {
  margin: 0;
  padding: 0;
}
body {
  background: rgba(255, 255, 255, 0.68);
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  
}
.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(12, 65px);
  grid-template-rows: repeat(6, 650px);

  grid-template-areas:
    "header header header header header header header header header header header header"
    "acerca acerca acerca acerca acerca acerca acerca acerca acerca acerca acerca acerca "
    "skills skills skills skills skills skills skills skills skills skills skills skills"
    "trabajo trabajo trabajo trabajo trabajo trabajo trabajo trabajo trabajo trabajo trabajo trabajo"
    "contacto contacto contacto contacto contacto contacto contacto contacto contacto contacto contacto contacto"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}



.contenedor header {
  color: #FEFEFE;
  background: url(/css-grip/img/fondo-imagen.svg) no-repeat;
  grid-area: header;
  display: flex;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  width: auto;
}

.contenedor header .nav{
  width: 250px;
  height: 50px;
  position: relative;
  left: 745px;
  top: 15px;

}
.contenedor header .nav ul{
    list-style-type: none;
    text-align: center;
    
}
.contenedor header .nav li{
    display: inline-block;
    text-decoration: none;
    margin: 0 3px;
    padding: 5px;
    font-size: 14px;
    
}
li a{
  text-decoration: none;
  color: #FEFEFE;
}

li a:hover{
  background: rgba(255, 255, 255, 0.68);
}

.contenedor header .logo {
  width: 430px;
  height: 140px;
  border: 2px solid rgba(238, 228, 228, 0.69);
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .contenedor-logo{
  position: absolute;
  top: 270px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  

}
.contenedor header .logo h2 {
    font-style: italic;
    font-size: 40px;
}
.contenedor header .logo h4{ 
    font-size: 20px;
    font-style: italic;
    
}
.contenedor .acerca .foto img{
  position: relative;
  width: 200px;
  height: 200px;
border: 5px solid rgba(68, 68, 62, 0.18);
border-radius: 150px;
padding: 5px;
margin-bottom: 20px;


}
.contenedor .acerca{
 
  grid-area: acerca;
  text-align: center;
}
.contenedor .acerca  p ,h4 {
  padding: 5px;
  margin: 5px;
  letter-spacing: 0.03em;
  line-height: 41px;
  font-size: 20px;
}


.contenedor .skills {
  grid-area: skills;
  background: rgba(255, 228, 0, 0.7);
  
  
}
.skills .titulo{
  text-align: center;
  font-style: italic;
  font-size: 30px;
  font-weight: normal;
  padding: 10px;
  margin-top: 30px;
  color: #695E00;
}
.skills .contenido-skills{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.skills .habilidad{
  height: 450px;
  width: 250px;
display: flex;
flex-direction: column;
text-align: center;
border: 5px solid rgba(255, 255, 255, 0.5);
background: rgba(190, 157, 243, 0.8);
border-radius: 10px;
box-sizing: border-box;
}
.skills .habilidad h2{
  margin: 5px;
  padding: 10px 0;
}
.skills .habilidad .icono{
  margin: 5px, auto;
  padding: 5px;
  font-size: 30px; 
}
.skills .habilidad .fab.fa-html5{
  color: #e34f26;
}
.skills .habilidad .fab.fa-css3-alt{
  color: #002561;
}
.skills .habilidad .fab.fa-js-square{
  color: #f7df1e;
}
.skills .habilidad .fab.fa-bootstrap{
  color: #64479a;
}
.skills .habilidad .fab.fa-java{
  color: #ff0000;
}
.skills .habilidad .fas.fa-database{
  color: #00758f;
}
.skills .habilidad .fab.fa-figma{
  color: #6a737b;
}
.skills .habilidad p{
  color: #4B4752;
  margin: 5px 0;
}

.contenedor .titulo{
  color: #695E00;
  display: block;
  font-style: italic;
  font-size: 25px;
  
}
.contenedor .trabajos {
  grid-area: trabajo;
  background: rgba(229, 229, 229, 0.5);
}
.contenedor .trabajos .contenedor-trabajo{
  position: relative;
  top: 100px;
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;

}
.contenedor .trabajos .contenedor-trabajo .trabajo{
  width: 150px;
  justify-content: center;
  align-items: center;
  
}
.contenedor .trabajos h4, .build{
  color: rgba(72, 139, 238, 0.8);
  text-align: center;
  font-style: normal;
  font-size: 18px;
  
}
.contenedor .trabajo p{
  color: #695E00;
  margin: 5px 0;
  padding: 5px;
  font-size: 14px;

}
.contenedor .trabajos .titulo{
  text-align: center;
  padding: 10px;
  margin: 30px 0;
}
.contenedor .trabajos .img{
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  
  
}
.contenedor .contacto {
  grid-area: contacto;
  background:rgba(229, 229, 229, 0.5) ;
  text-align: center;
  
  
}
.contenedor .contacto .titulo-contacto{
  text-align: center;
  color: rgba(72, 139, 238, 0.8);
  font-style: italic;
  font-size: 30px;
  font-weight: normal;
  padding: 10px;
  margin: 30px 0;

}
.contenedor .contacto  input{
  width: 320px;
  height: 50px;
  box-sizing: border-box;
border-radius: 5px;
border: 2px solid #C4BFCC;
padding: 5px;
margin: 30px 7px;
}
.contenedor .contacto .llenado{
  display: inline;
  
}
.contenedor .contacto textarea{
  width: 660px;
height: 150px;
border: 2px solid #C4BFCC;
box-sizing: border-box;
border-radius: 5px;
padding: 5px;
}
.contenedor .contacto .envio{
  display: flex;
  align-items: center;
  justify-content: center;
  
border-radius: 5px;
width: 150px;
height: 50px;
padding: 5px;
margin: 30px auto;
}
.envio input{
  background: #488BEE;
  color: #FFF8F8;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  padding: 5px;
  box-sizing: border-box;
}
.envio input:hover{
  background: #002561;
}

.contenedor footer {
  grid-area: footer;
  background-color: rgba(0, 0, 0, 0.3);
}
